[submodule "modules_dep/urn-core-dep"]
	path = modules_dep/urn-core-dep
	url = git@bitbucket.org:nbl7/urn-core-dep.git
[submodule "modules_dep/urn-core-dep-dev"]
	path = modules_dep/urn-core-dep-dev
	url = git@bitbucket.org:nbl7/urn-core-dep-dev.git
[submodule "modules_dep/urn-web-dep"]
	path = modules_dep/urn-web-dep
	url = git@bitbucket.org:nbl7/urn-web-dep.git
[submodule "modules_dep/urn-web-dep-dev"]
	path = modules_dep/urn-web-dep-dev
	url = git@bitbucket.org:nbl7/urn-web-dep-dev.git
[submodule "modules_dep/urn-trx-dep"]
	path = modules_dep/urn-trx-dep
	url = ssh://git@bitbucket.org/nbl7/urn-trx-dep.git
[submodule "modules_dep/urn-trx-dep-dev"]
	path = modules_dep/urn-trx-dep-dev
	url = ssh://git@bitbucket.org/nbl7/urn-trx-dep-dev.git
[submodule ".urn/urn-core"]
	path = .urn/urn-core
	url = ssh://git@bitbucket.org/nbl7/urn-core.git
[submodule ".urn/urn-web"]
	path = .urn/urn-web
	url = ssh://git@bitbucket.org/nbl7/urn-web.git
[submodule ".urn/urn-trx"]
	path = .urn/urn-trx
	url = ssh://git@bitbucket.org/nbl7/urn-trx.git
